body{
    background-color: slategrey;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.box{
    border: 2px solid rgb(242, 242, 242);
    border-radius: 10px;
    text-align: center;

}
fieldset{
    margin-top: 10px;
    border:0;
}
label{
    display: block;
}
input{
    height: 20px;
    width: 20px;
}
label{
    font-size: large;
}
#submit{
    height: 50px;
    width: 80px;
    font-size: large;
    margin-top: 30px;
}
